body {
  margin: 0;
  padding: 0;
  font-family: Raleway;
}

/* pagina graficos */

.dash {
  width: 85%;
  position: relative;
  top: 0;
  left: 15%;
  background-color: white;
  height: 100vh;
  overflow: auto;
}

.tabela-ranking {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
  margin-top: 120px;
  width: 500px;
  justify-content: center;
  align-items: center;
}

.tabela-ranking select {
  width: 200px;
  height: 30px;
  margin-bottom: 20px;
  text-align: center;
}

.ranking, th, td{
  border-collapse: collapse; /*define a separação entre as bordar*/
  padding: 10px;
  text-align: left;
  border: 1px solid rgb(160 160 160);
  text-align: center;
}

th{
  background-color: lightgray;
}

.ranking {
  min-width: 90%;
}

/* PAGINA DOS GRÁFICOS 2023 */

.janela {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* height: 100vh; */
    width: 100%;
}

.header-left a {
  text-decoration: none;
  color: white;
}

.header-left {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  height: 100vh;
  width: 16vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-right: 3px solid #cc4bf3;
  background: rgb(208,90,190);
  background: linear-gradient(180deg, rgba(208,90,190,1) 0%, rgba(143,48,168,1) 50%, rgba(111,30,151,1) 100%);
}

.header-left h1 {
  color: #f1f1f1;
  font-family: folklore;
}

.hello {
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
}

.hello h3 {
  color: rgb(67, 18, 92);
  font-weight: 300;
  font-size: 1.2rem;
}

.hello h3 span {
  font-weight: 800;
}

.btn-nav {
  width: 80%;
  color: white;
  background-color: #f315c3;
  border-radius: 0 30px 30px 0;
  text-align: center;
  padding: 2% 5%;
  border: 2px solid rgb(219, 219, 219);
  border-left: none;
}


.active-page {
  background-color: #c7069d;

}

.btn-nav:hover {
  background-color: #c7069d;
}


.btn-nav h3,
.btn-logout h3 {
  margin: 0;
  padding: 0;
}

.texto {
  text-align: left;
  color: white;
  padding: 10px;
}

.inicio {
  text-align: center;
  border-radius: 30px;
  width: 30%;
  border: 2px solid rgb(219, 219, 219);
  margin-left: 65px;
  cursor: pointer;
}

.list-btns {
  margin-top: 40px;
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-evenly;
  
}

.btn-logout {
  margin: 0;
  padding: 0;
  width: 20%;
  background-color: rgb(163, 69, 182);
  color: white;
  border-radius: 10px;
  text-align: center;
  padding: 10px 15px;
  margin-top: 100px;
  cursor: pointer;
}

.btn-logout:hover {
  background-color: rgb(208,90,190);
}