@font-face {
    font-family: folklore;
    src: url(../assets/fonts/IMFellDWPica-Italic.ttf);
}

@font-face {
    font-family: raleway;
    src: url(../assets/fonts/Raleway-VariableFont_wght.ttf)
}

@font-face {
    font-family: openSans;
    src: url(../assets/fonts/OpenSans-VariableFont_wdth\,wght.ttf)
}


body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

a {
    color: black;
    text-decoration: none;
}

.container {
    overflow: hidden;
    position: fixed;
    background-color: #e4b7e4;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 790px;
    height: 65px;
    display: flex;
    margin-top: 15px;
    border-radius: 30px;
    box-shadow: 4px 4px 70px #c585c5;
    font-size: 20px;
    z-index: 2;
}

.header .container {
    justify-content: space-between;
}

.header .banner {
    height: 100vh;
    /* background-image: url(media/101723-taylorswift-hero_epm1ht.jpeg); */
    background-image: url(../assets/imgs/GNdbT5obgAA2bng.jpeg);
    background-size: cover;
    /* background-attachment: fixed; */
    /* background-position: 0 -230px; */
    /* background-position: center; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header .texto {
    color: white;
    font-family: Raleway;
    /* font-weight: 1000; */
    display: flex;
    /* position: absolute; */
    align-items: flex-start;
    justify-content: center;
    margin-left: 60px;
    width: 50vw;
    height: 100vh;
    flex-direction: column;
    font-size: 60px;
    text-align: end;
    row-gap: 1px;
    z-index: 1;
    text-transform: uppercase;
    text-overflow: clip;
    text-shadow: 3px 4px 7px rgba(231, 222, 222, 0.8);
}

.conheca {
    font-size: 40px;
}

.ts {
    color: #973ca1;
    font-weight: 700;
    font-size: 65px;
    text-shadow: 3px 4px 7px rgba(235, 184, 240, 0.8);
}

.fenomeno {
    font-size: 50px;
}

.mundial {
    font-size: 50px;
}


.quizbox {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid white;
    border-radius: 20px;
    height: 40vh;
    margin-right: 60px;
    width: 28vw;
    margin-top: auto;
    margin-bottom: auto;
    flex-direction: column;
    backdrop-filter: blur(10px);
    background-color: rgba(185, 92, 194, 0.2);
    font-family: Raleway;
    text-align: justify;
    font-size: 30px;
    justify-content: space-evenly;
}

.texto1 {
    margin: 19px;
    font-weight: 400;
    text-align: center;
}

a.button {
    display: flex;
    width: 90%;
    height: 20%;
    margin: 8px;
    background-color: rgba(75, 16, 80, 0.2);
    padding: 1px 6px;
    border: 1px outset buttonborder;
    border-radius: 10px;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    font-weight: 700;
}
a.button:active {
    background-color: rgba(217, 19, 235, 0.2);
}


.titulo {
    font-size: 30px;
    padding-left: 20px;
    display: flex;
    align-items: center;
    font-family: folklore;
}

.navbar {
    font-family: folklore;
    font-size: 21px;
    width: 400px;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

li:hover {
    /* font-size: 23px; */
    transform: scale(1.1);
    font-weight: bold;
}

.inicio {
    /* background-image: url(media/background\ debut.jpg); */
    background-size: 100%;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    height: 75vh;
    background: rgb(208,90,190);
    background: linear-gradient(180deg, rgba(208,90,190,1) 0%, rgba(143,48,168,1) 50%, rgba(111,30,151,1) 100%);
    /* background-image: url("taylorswiftttpd.jpg"); */
    /* background-size: cover; */
}


.noticias {
    background-image: url(../assets/imgs/background\ fearless.jpg);
    background-size: 100%;
    /* background-repeat: no-repeat; */
    display: flex;
    height: 500px;
    background-color: #eac086;
}

.sobremim {
    display: flex;
    height: 500px;
    background-color: #c4aac3;
}